<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>

<main class="container">

  <div class="pull-right">
    <p><button class="btn btn-info" ng-click="$ctrl.newPostForm=!$ctrl.newPostForm">New Post</button></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" ng-model="$ctrl.filter" placeholder="Filter">
    </li>
    <div class="form-inline">
      <label for="sort">  Sort by </label>
      <select class="form-control" id="sort" ng-model="$ctrl.sort">
        <option value="votes">Votes</option>
        <option value="posted">Date</option>
        <option value="title">Title</option>
      </select>
    </div>
  </ul>

  <div class="row" ng-if="$ctrl.newPostForm">
    <div class="col-md-8">

      <form novalidate name="$ctrl.newForm" ng-submit="$ctrl.createNewPost($event)">
        <div ng-class="{
          'has-error': $ctrl.newForm.title.$invalid &&
            $ctrl.newForm.title.$touched,
          'has-success': $ctrl.newForm.title.$valid,
        }">
          <label for="title">Title</label>
          <input id="title" name="title" class="form-control" required ng-minlength="3" ng-model="$ctrl.newPost.title">
        </div>
        <div ng-class="{
          'has-error': $ctrl.newForm.body.$invalid &&
            $ctrl.newForm.body.$touched,
          'has-success': $ctrl.newForm.body.$valid,
        }">
          <label for="body">Body</label>
          <textarea id="body" name="body" class="form-control" required ng-minlength="10" ng-model="$ctrl.newPost.body"></textarea>
        </div>
        <div ng-class="{
          'has-error': $ctrl.newForm.author.$invalid &&
            $ctrl.newForm.author.$touched,
          'has-success': $ctrl.newForm.author.$valid,
        }">
          <label for="author">Author</label>
          <input id="author" name="author" class="form-control" required ng-minlength="3" ng-model="$ctrl.newPost.author">
        </div>
        <div ng-class="{
          'has-error': $ctrl.newForm.imageUrl.$invalid &&
            $ctrl.newForm.imageUrl.$touched,
          'has-success': $ctrl.newForm.imageUrl.$valid,
        }">
          <label for="image-url">Image URL</label>
          <input id="imageUrl" name="imageUrl" type="url" class="form-control" required ng-minlength="3" ng-model="$ctrl.newPost.imgUrl">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.newForm.$invalid">
            Create Post
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-repeat="post in $ctrl.posts | filter:$ctrl.filter | orderBy:$ctrl.sort:true">

      <div class="well post">
        <div class="media-left">
          <img class="media-object" ng-src="{{post.imgUrl}}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{post.title}}
            |
            <a ng-click="$ctrl.voteUp(post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a ng-click="$ctrl.voteDown(post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
            {{post.votes}}
          </h4>
          <div class="text-right">
            {{post.author}}
          </div>
          <p>
            {{post.body}}
          </p>
          <div>
            {{post.posted | date: 'MMM d, y, HH:mm:ss a' }}
            |
            <i class="glyphicon glyphicon-comment"></i>
            <a ng-click="showComments=!showComments">
              {{post.comments.length}} Comments
            </a>
          </div>
          <div class="row" ng-show="showComments">
            <div class="col-md-offset-1">
              <hr>
              <div ng-repeat="comment in post.comments">
                <p>
                  {{comment.text}}
                </p>
                <hr>
              </div>
              <form class="form-inline" ng-submit="$ctrl.addComment(post)">
                <div class="form-group">
                  <input class="form-control" ng-model="post.comment.text">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
