<h1>Expenses</h1>

<!-- Add Expenses -->
<form ng-submit="$ctrl.addExpense()">
  <p>
    Category: <input id="new-category" ng-model="$ctrl.expense.category">
  </p>
  <p>
    Amount: <input id="new-amount" type="number" step="0.01" ng-model="$ctrl.expense.amount">
  </p>
  <p>
    <button type="submit">Add Expense</button>
  </p>
</form>

<!-- Expenses List -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in $ctrl.expenseList">
      <td>{{ data.id }}</td>
      <td>{{ data.category }}</td>
      <td>{{ data.amount }}</td>
      <td>
        <a href="" ng-click="$ctrl.showEdit(data)">edit</a>
        <a href="" ng-click="$ctrl.deleteExpense(data)">delete</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Edit Form -->
<form ng-submit="$ctrl.editExpense($ctrl.selectedData)" ng-if="$ctrl.editToggle">
  <p>
    Category: <input id="edit-category" ng-model="$ctrl.selectedData.category" ng-value="$ctrl.selectedData.category">
  </p>
  <p>
    Amount: <input id="edit-amount" type="number" step="0.01" ng-model="$ctrl.selectedData.amount" ng-value="$ctrl.selectedData.amount">
  </p>
  <p>
    <button type="submit">Update Expense</button>
  </p>
</form>
